<header>
  <p class='header-title'>My Portfolio</p>
  <div class="d-flex justify-content-center">
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'button-white btn btn-light'%>
  </div>


</header>