
 @import "bootstrap";

 body {
  margin-bottom: 50px;
 }

 header {
  height: 120px;
  padding: 0px 40px 0px 40px;
  background: #1B5678;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 

 .header-title {
   font-family: "Roboto";
   font-weight: 700;
   font-size: 36px;
   line-height: 42.19px;
   color: #FFFFFF;
   white-space: nowrap;
 }

 .button-white {
  padding: 16px 40px 16px 40px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
 }

 footer {
  height: 40px;
  padding: 0px 40px 0px 40px;
  background: #1B5678;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-logo {
  width: 102px;
  height: 21px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  font-family: "Roboto";
  white-space: nowrap;
  color: #FFFFFF;
 }

 .title {
  height: 48px;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 400;
  line-height: 48.02px;
 }

 .form-field {
  width: 480px;
  height: 341px;
 }

 .button-blue {
  width: 232px;
  height: 53px;
  background-color: #1B5678;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
 }

.field input {
  border-radius: 0%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

.field label {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: #0000008A;
}

.avatar-label {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: #0000008A;
}

.field textarea{
  height: 95px;
  border-radius: 0%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
  resize:none;
}

.form-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.error-message {
  color: #ec1212;
}

.profile {
  width: 960px;
  margin-top: 50px;
}

.profile-text {
  width: 520px;
  height: 256px;
}

.profile-introduction {
  width: 520px;
  min-height: 81px;
}

.file-button {
  height: 32px;
  padding: 8px 24px 8px 24px;
  border-radius: 4px 4px 4px 4px;
  background: #0000001A;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}

.profile-title {
  width: 240px;
  height: 58px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  border-bottom: 2px solid #00000080
}

.login-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.learning {
  width: 960px ;
}

.learning-form {
  width: 880px;
  height: 356px;
}


.table-form {
  height: 230px;
  box-shadow: 0px 1px 5px 0px #0000001F;

  box-shadow: 0px 2px 2px 0px #00000024;

  box-shadow: 0px 3px 1px -2px #00000033;
}

.btn-red {
  background: #EE6969;
  font-size: 14px;
  margin-top: 2px;
}

.btn-border {
  background: #FFFFFF;
  border: 1px solid #1B5678;
  color: #1B5678;
  font-family: Roboto;
  font-size: 14px;
  margin-top: 2px;
}

td {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

th {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

tr {
  height: 57px ;
}

.number input {
  border: 1px solid #0000003B
}
.edit-title {
  width: 240px;
  height: 44px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px solid #00000080;
}

.edit-button-blue {
    background-color: #1B5678;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 16px 40px;
}

.date-button {
  width: 94px;
  height: 44px;
  position: relative;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}


.modal-content {
  margin-top: 200px;
  width:  640px;
  height: 240px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  border-radius: 0;
}



.date-button::before {
  content: '';
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-60%) rotate(180deg);
  background: #0b0b0b;
  height: calc(tan(30deg) * 30px / 2);
  width: 15px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  pointer-events: none;
}

.form-select {
  --bs-form-select-bg-img: '';
}

